@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: roboto;
}
body {
    font-family: Roboto sans-serif;
}

.calculator-body {
    display: flex;
    justify-content: center;
    padding: 4 px;
}