@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: roboto;
}
body {
    font-family: Roboto sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator-body {
    display: flex;
    justify-content: center;
    padding: 4px;
    background-color: #45433f;
    width: 600px;
    border-radius: 4px;
}

.input {
    color: white;
}

.buttons-body {

}